[submodule "dependencies/momentum-ui"]
	path = dependencies/momentum-ui
	url = https://github.com/momentum-design/momentum-ui
[submodule "dependencies/libjitter"]
	path = dependencies/libjitter
	url = https://github.com/Quicr/libjitter.git
[submodule "dependencies/libquicr"]
	path = dependencies/libquicr
	url = https://github.com/Quicr/libquicr.git
[submodule "dependencies/moxygen"]
	path = dependencies/moxygen
	url = https://github.com/facebookexperimental/moxygen.git
