[submodule "dependencies/new-qmedia"]
	path = dependencies/new-qmedia
	url = https://github.com/Quicr/new-qmedia.git
[submodule "dependencies/momentum-ui"]
	path = dependencies/momentum-ui
	url = https://github.com/momentum-design/momentum-ui
[submodule "dependencies/libjitter"]
	path = dependencies/libjitter
	url = https://github.com/Quicr/libjitter.git
[submodule "dependencies/libquicr"]
	path = dependencies/libquicr
	url = https://github.com/Quicr/libquicr.git
